input {
  background: none;
  outline: none;
  border: 1px solid @borderColor;
  .border-radius(2px);
  .border-box;
  padding: 10px 10px 8px;
  line-height: 1 !important; // override base-style
  color: @textColor;
  box-shadow: none;
  
  // Remove Inset-Box Shadow on IOS
  -webkit-appearance: none;
  
  // Remove Firefox "Ghost-Padding"
  ::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.note input {
  background: @darkNote;
  border-color: @noteBorderColor;
  color: @onNoteColor;
}

// Placeholder text
// -------------------------

input, textarea {
  &:-moz-placeholder {
    color: @grayLighter;
    line-height: inherit;
  }
  &:-ms-input-placeholder {
    color: @grayLighter;
    line-height: inherit;
  }
  &::-webkit-input-placeholder {
    color: @grayLighter;
    .positioned;
    top: 3px;
  }
}

.note {
  input, textarea {
    &:-moz-placeholder {
      color: @onNoteColor50;
      line-height: inherit;
    }
    &:-ms-input-placeholder {
      color: @onNoteColor50;
      line-height: inherit;
    }
    &::-webkit-input-placeholder {
      color: @onNoteColor50;
      .positioned;
      top: 3px;
    }
  }
}

.dark {
  input, textarea {
    &:-moz-placeholder {
      color: rgba(255,255,255,0.5);
      line-height: inherit;
    }
    &:-ms-input-placeholder {
      color: rgba(255,255,255,0.5);
      line-height: inherit;
    }
    &::-webkit-input-placeholder {
      color: rgba(255,255,255,0.5);
      .positioned;
      top: 3px;
    }
  }
}

.note {
  input, textarea {
    &:-moz-placeholder {
      color: @onNoteColor50;
      line-height: inherit;
    }
    &:-ms-input-placeholder {
      color: @onNoteColor50;
      line-height: inherit;
    }
    &::-webkit-input-placeholder {
      color: @onNoteColor50;
      .positioned;
      top: 3px;
    }
  }
}

#header {
  input, textarea {
    &:-moz-placeholder {
      color: @onHeaderColor50;
      line-height: inherit;
    }
    &:-ms-input-placeholder {
      color: @onHeaderColor50;
      line-height: inherit;
    }
    &::-webkit-input-placeholder {
      color: @onHeaderColor50;
      .positioned;
      top: 3px;
    }
  }
}









// Module responsiveness
// --------------------------

// Larger Than Mobile

@media only screen and (min-width : 450px) {
  
 input {
   padding: 20px 20px 18px;
 }
}